.active{
	color:#f06921 !important;
}

.sub-nav{
	margin-top:6px;
	margin-bottom: -8px;
	background:#fff;
	height:35px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #f06921;
		

}
.slide11{
	position:relative;
	width:100%;
	background-color:#fff;
	margin-top:8px;
}



nish{
	font-size:15px;
}

.innn {
	filter: none;
}
.nish2 {
	margin-bottom:1px;
}


.aa {color:#ccc; size:12px;}

.ro1 { margin-left:-142px; }


.sign > a {
  color: #C03 ;
  	font-size: 12px;
  text-decoration: none ;
}
.sign > a:hover {
  color: #00F ;
  font-size: 12px;
  text-decoration: underline ;
}
.drop 
{
	margin-top:10px;
	
}

.drop > a {
  font-size: 14px;
    #letter-spacing: -1px;
    #line-height: 1;
  color: #666 ;
  text-decoration: none ;
}
.drop > a:hover {
	font-size: 15px;
  # letter-spacing: -1px;
  # line-height: 1;
  color: #F06921 !important ;
  text-decoration: underline ;
}
<!-- ############################### -->
.coretop {
  background-color:#000000;
  color:#DADADA;
  opacity:0.9;
  padding:0;
  position:relative;
  width:100%;
  margin-top:8px;
}

.c
{ color:#f06921;
margin-right:10px;}
.cc
{ color:#f06921;
}
.icon-large {
text-align: center;
padding-right: 8px;
}
.ccdrop
{ font-size: 15px;
  # letter-spacing: -1px;
  # line-height: 1;
  color: #F06921 !important ;
  text-decoration: underline ;
}




.dropcap {
	
    font-family: Georgia, serif !important;
	margin-top:-10px!important;
    font-size: 55px !important;
    padding: 0 7px 5px 0 !important;
    line-height: 1em !important;
    float: left !important;
    text-shadow: 1px 1px 0 #fafafa, 2px 2px 0 rgba(95, 149, 176, 0.5), 0 0 1px #fafafa !important;
}

.dropcapsmall {
	
    font-family: Georgia, serif;
	margin-top:-10px;
    font-size: 35px;
    padding: 0 7px 5px 0;
    line-height: 1em;
    float: left;
    text-shadow: 1px 1px 0 #fafafa, 2px 2px 0 rgba(95, 149, 176, 0.5), 0 0 1px #fafafa;
}


	
	