/*
* Author: Łukasz Holeczek
* Template: Best. Bootstrap Theme
*/


/* Import Section
=================================================================== */
@import url("icons.css");				/* Icons. */
@import url("icons-color.css");			/* Icons. */  
@import url("social-icons.css");		/* Social Icons */
@import url("hover.css");				/* Hover CSS3 Effect */
@import url("fancybox.css");			/* Fancybox */

.clear {
	clear:both;
}

body {
	background:;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px/1.75;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal !important;
	color: #666;
	margin: 0;
	padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
}

h4 {
  font-size: 13px;
  line-height: 30px;
}

h5 {
  font-size: 12px;
  line-height: 26px;
}

h6 {
  font-size: 11px;
  line-height: 24px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

			
.title {
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px solid #29a9df !important;
	margin-bottom: -4px !important;
	display: inline-block !important;
	padding: 0px 10px !important;
	margin-left:15px !important;
	margin-right:15px !important;
}

#wrapper {
	background: #fff;

}

/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}



/* Header
=================================================================== */
	
header {
	background: #fff;
	border-bottom: 1px solid #f6f6f6;
	-moz-box-shadow: 0px 1px 12px #888;
-webkit-box-shadow: 0px 1px 12px #888;
box-shadow: 0px 1px 12px #888;
}

.logo  {
background:url('../img/logo.png') no-repeat;
	height: 60px;
}

.logo i{
	margin-top:-25px;
}


.logo a{
	color: #ddd;
	text-decoration: none;
	font-size: 28px;
	line-height: 68px;
	margin-left: 10px;
}

.logo span {
	color: #29a9df;
}

#social-links {
	margin-top:20px;
	float: right;
}

.navbar, 
.navbar-inner, 
.nav {
	float: left;
	background: #fff !important;
	border: none;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	padding: 0px;
	margin: 0;	
}

.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar .nav > li > a {
	color: #666;
	#border-top:4px solid #fff;
	text-shadow: none;
	font-size: 15px;
	padding: 8px;
	margin-top:30px;

}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	#border-top:4px solid #29a9df !important;	
  	#background: #29a9df !important;		
  	color: #f06921;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #f06921 !important;	
  	text-decoration: none;
  #border-top:4px solid #29a9df !important;	
  	background-color: #fff !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav > .active > a:hover {
	#border-top:4px solid #29a9df !important;	
  	#background: #29a9df !important;		
  	color: #f06921 !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav .active a:hover > .caret {
  border-top-color: #ffffff !important;	
  border-bottom-color: #ffffff !important;	
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  background: #29a9df !important;	
}

.dropdown-menu .active > a {
	color: #ffffff !important;
  	background: #29a9df !important;
}
.dropdown-menu .active > a:hover {
  	color: #ffffff !important;
  	background: #29a9df !important;	
}

.navbar .btn-navbar {
	position: absolute;
	right: 50px;
	top: 15px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #f06921 !important;	
  border-bottom-color: #f06921 !important;	
}


/* Page Title
/* Widgets
=================================================================== */
.widget {margin-top: 25px;}
.first.widget {margin-top: -5px;}
.first.widget {margin-top: -5px;}

/* Tags */
.tags a {
	padding: 5px 10px;
	border: 1px solid #eee;
	display: inline-block;
	color: #666;
	background: #fff;
	margin: 0 3px 6px 0;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	border-radius: 1px;
}

.tags a:last-child {margin-right:0;}

.tags a:hover {
	background: #29a9df;
	border: 1px solid #29a9df;
	color: #fff;
}

/* Isotope Filtering
=================================================================== */

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/* Isotope CSS3 transitions
=================================================================== */
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	 transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}

/* Disabling Isotope CSS3 transitions
=================================================================== */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	 transition-duration: 0s;
}

/* Disable CSS transitions for containers with infinite scrolling
====================================*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

/* List Styles
=================================================================== */
.check_list li,
.plus_list li,
.minus_list li,
.star_list li,
.arrow_list li,
.square_list li,
.circle_list li,
.cross_list li {
	list-style: none;
	margin: 5px 0;
}

.check_list li {background: url(../img/icons/list/blue/list_check.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.plus_list  li {background: url(../img/icons/list/blue/list_plus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.minus_list  li {background: url(../img/icons/list/blue/list_minus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.star_list  li {background: url(../img/icons/list/blue/list_star.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.arrow_list  li {background: url(../img/icons/list/blue/list_arrow.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.square_list  li {background: url(../img/icons/list/blue/list_square.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.circle_list  li {background: url(../img/icons/list/blue/list_circle.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.cross_list  li {background: url(../img/icons/list/blue/list_cross.png) no-repeat 0% 50%; padding: 0 0 0 16px;}


/* Footer
====================================================================== */
#footer-menu {
	height: 50px;
	background: #fcfcfc url(../img/bg-k20.png) repeat;
	border-top: 4px solid #f6f6f6;
	border-bottom: 4px solid #f6f6f6;
	margin-top: 20px;
}

#footer-menu-logo  {
	height: 46px;
}

#footer-menu-logo #logo-chart {
	margin: 5px;
	height: 36px;
	width: 36px;
	background: #fcfcfc url(../img/chart.png);
	background-repeat: no-repeat;
	background-position: 48%;
	opacity: .1;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	border: 3px solid #000;
	float: left;
}


#footer-menu-logo a{
	color: #ddd;
	text-decoration: none;
	font-size: 22px;
	line-height: 54px;
	margin-left: 5px;
}

#footer-menu-logo span {
	color: #666;
}


#footer-menu-logo img {
	margin-top: 10px;
}

#footer-menu-links {
	display: block;
	float: left;
	max-height: 52px;
	margin: 6px 0 6px 0;

}

#footer-menu-links ul,
#footer-menu-links li {
	list-style: disc;
	color:#999999;
	padding:0;
	margin:0;
}

#footer-menu-links li:first-child {
	list-style: none;
}


#footer-menu-links ul li{
	float:left;
	position:relative;
	z-index: 100;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-links ul li a { 
	display: inline-block;
	color: #666;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Helvetica Neue';
	text-transform: lowercase;
	padding: 10px 15px 10px 0px;
	margin: 0px 10px 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
	
}

#footer-menu-links ul li:first-child a { 

}

#footer-menu-links ul li a:hover {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-back-to-top {
	margin: 10px;
	z-index: 999;
}

#footer-menu-back-to-top a {
	width: 30px;
	height: 30px;
	display: block;
	background-color: #29a9df;
	background-image: url(../img/scroll-top-top.png);
	background-repeat: no-repeat;
	background-position: 50%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#footer-menu-back-to-top a:hover {background-color: #aaa;}

#footer {
	background: url(../img/bg-k10.png) repeat;
	border-bottom: 4px solid #f6f6f6;
	color: #666 !important;
	padding: 40px 0px;
	z-index: 1;
	position: relative;
	opacity: 1;
}

#footer, 
#footer p, 
#footer a{ 
	color: #666 !important;
}

#footer a:hover {
	color: #fff;
}

.no-margin {margin-top: 0;}

#footer h3 {
	padding: 2px 0px !important;
	margin-bottom: 10px;
	color: #666;
	border-bottom: 5px double #f6f6f6;
}

/* Newsletter Form
====================================================================== */

form#newsletter {
	color: #999999;
	margin-left: 10px;
}

form#newsletter p {
	margin: 0px 0px -10px 0px;
}

form#newsletter label {
	font-size: 16px;
	width: 20px;
	display: block;
	position: relative;
	left: 8px;
	top: 33px;
	z-index: 2;
}	

form#newsletter input[type=text] {
	background: #fff;
	width: 75%;
	float: left;
	border: 1px solid #f6f6f6;
	position: relative;
	z-index: 1;
	padding: 7px 0px 8px 34px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
	-webkit-border-top-left-radius: 3px;
	   -moz-border-radius-topleft: 3px;		
			border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	   -moz-border-radius-bottomleft: 3px;		
			border-bottom-left-radius: 3px;				
}
	
form#newsletter input[type=submit] {
	background: #29a9df;
	color: #fff;
	width: 25%;
	float: left;
	border: 1px solid #f6f6f6;
	position: relative;
	z-index: 2;
	font-size: 14px;
	padding: 7px 0px 8px 0px;
	margin-top: 0px;
	margin-left: -42px;
	-webkit-border-top-right-radius: 3px;
	   -moz-border-radius-topright: 3px;		
			border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	   -moz-border-radius-bottomright: 3px;		
			border-bottom-right-radius: 3px;

}

/* Copyright
====================================================================== */

#copyright {
	padding: 20px 0px;
}

#copyright p {
	margin: 0 auto;
	width: 380px;
	text-align: center;
	color: #666;
}

/* Links List
=================================================================== */
.links-list li a {
	color: #a4a4a4;
	display: block;
	padding: 3px 0;
	padding-left: 12px;
	background: url(../img/links-list-arrow-01.png) no-repeat left 47%;
}

.links-list-alt li a {
	color: #666;
	display: block;
	padding: 3px 0;
	padding-left: 12px;
	background: url(../img/links-list-arrow-02.png) no-repeat left 47%;
}

.links-list li a:hover {color: #efe9d8}
.links-list-alt li a:hover {color: #888}

.links-list li:first-child a,
.links-list-alt li:first-child a {
	margin: -3px 0 0 0;
}

/* Photo Stream
=================================================================== */
.flickr-widget {margin-right: -12px; margin-top: 15px;}
.flickr-widget img {display: block; width: 100%;}
.flickr-widget a:hover {border-color: #505050;}

.flickr-widget a {
	float: left;
	width: 52px;
	height: 52px;
	margin-left: 0px;
	margin-right: 11px;
	margin-bottom: 12px;
	background: #fcfcfc;
	border: 1px solid #f6f6f6;
	padding: 4px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.ie7 .flickr-widget a {width: 54px; height: 54px;}


/* Custom Buttons Colors
====================================================================== */

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #29a9df;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #29a9df, #29a9df);
  background-image: -ms-linear-gradient(top, #29a9df, #29a9df);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29a9df), to(#29a9df));
  background-image: -webkit-linear-gradient(top, #29a9df, #29a9df);
  background-image: -o-linear-gradient(top, #29a9df, #29a9df);
  background-image: linear-gradient(top, #29a9df, #29a9df);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'29a9df, endColorstr='#'29a9df, GradientType=0);
  border-color: #29a9df #29a9df #29a9df;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #29a9df;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  background-color: #faa732;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fbb450, #fbb450);
  background-image: -ms-linear-gradient(top, #fbb450, #fbb450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #fbb450, #fbb450);
  background-image: -o-linear-gradient(top, #fbb450, #fbb450);
  background-image: linear-gradient(top, #fbb450, #fbb450);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fbb450, endColorstr='#'fbb450, GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #fbb450;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -ms-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#ee5f5b));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -o-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: linear-gradient(top, #ee5f5b, #ee5f5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ee5f5b, endColorstr='#'ee5f5b, GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #ee5f5b}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #29a9df;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #29a9df, #29a9df);
  background-image: -ms-linear-gradient(top, #29a9df, #29a9df);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29a9df), to(#29a9df));
  background-image: -webkit-linear-gradient(top, #29a9df, #29a9df);
  background-image: -o-linear-gradient(top, #29a9df, #29a9df);
  background-image: linear-gradient(top, #29a9df, #29a9df);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'29a9df, endColorstr='#'29a9df, GradientType=0);
  border-color: #29a9df #29a9df #29a9df;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #29a9df;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -ms-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(top, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'5bc0de, GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #5bc0de;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

/* Higher than 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 960px) {
	
	header {
		height: 87px;
	}
	
	#wrapper {

	}
	
	#footer-menu {

	}
	
	#footer {

	}
	
	.flexslider.home {
		min-height: 300px;
	}

}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	header {
		min-height: 64px;
	}
	
	ol li ol.childlist .comment-des {
		width:86%;
	}
	
}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
	
	header {
		min-height: 64px;
	}
	
	#contact-details {
		text-align: center;
		float: left;
	}
	
	
	.post-meta {
		display: none;
	}
	
	.post-title h2 {
		line-height: 26px;
		margin-bottom: 15px;
	}
	
	.post-icon {
		margin-top: 28px;
	}
	
	#filters,
	#portfolio-navi {
		position: relative;
		text-align: left;
		display: block;
		margin: 0 0 23px 0;
	}
	
	#portfolio-navi {
		margin: -5px 0 25px 0;
	}
	
	.portfolio-item {
		margin: 5px 0 25px 0 !important;
	}
	
	.item-description.related {
		margin-bottom: 30px;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	header {
		min-height: 64px;
	}
		
	.flickr-widget a {
		width: 53px;
		height: 53px;
	}
	
	ol li ol.childlist .comment-des {
		width:82%;
	}
	
	.comment-des{
		width:83%;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	
	header {
		min-height: 64px;
	}
	
	ol li ol.childlist .comment-des {
		width:77%;
	}
	
	.comment-des{
		width:78%;
	}
	
}

/*==============================*/
.container-links{
	color:#DADADA;
	background-color:#2E2E2E;
	padding:20px 10px 10px;
	border-top:solid 0px #666;
}
.container-links h3{
	color: #EEE;
	text-shadow: 0px 1px 1px #000;
}
.container-links img{
	margin:5px 0;
}
.container-links ul{
	list-style:none;
	margin:0;
}
.container-links h1 h2 h3 h4 h5 a{
	color:#DADADA;
	text-decoration:none;
	line-height:2em;
}
.container-links a:hover{
	color:#fff;
}
.container-footer{
	position:relative;
	color:#DADADA;
	width:100%;
	background-color:#000;
	padding:0px 0;
	border-top:solid 1px #666;
	opacity:0.9;
	filter:alpha(opacity=90);
}

.social-networking-icons {display:inline; width:auto;}
.social-networking-icons a {margin-left:2px; padding:0px; width:24px; height:24px;  display:inline-block; text-indent:-9999px; text-align:left; background:url(../img/icons.png);}
.ie7 .social-networking-icons a {display:inline;}
a.email:hover {background-position:0px 24px;}
a.facebook {background-position:-99px 0px;}
a.facebook:hover {background-position:-99px 24px;}
a.twitter {background-position:-75px 0px;}
a.twitter:hover {background-position:-75px 24px;}
a.dribbble {background-position:-124px 0px;}
a.dribbble:hover {background-position:-124px 24px;}
a.forrst {background-position:-149px 0px;}
a.forrst:hover {background-position:-149px 24px;}
a.vimeo {background-position:-50px 0px;}
a.vimeo:hover {background-position:-50px 24px;}
a.youtube {background-position:-25px 0px;}
a.youtube:hover {background-position:-25px 24px;}
a.linkedin {background-position:-174px 0px;}
a.linkedin:hover {background-position:-174px 24px;}
a.tumblr {background-position:-199px 0px;}
a.tumblr:hover {background-position:-199px 24px;}


	